extends layout

title = activation
status = status
block append content
	div.container
		h1 #{status}
		p
			| pour créer votre profil cliquez sur le lien ci dessous
		p
			a.btn.btn-primary.btn-lg(role='button' href='/') Get Started »

