extends layout
title = title
email = email
token = token
block append content
	header#header.line.parm(role='banner')
		#header.navbar.navbar-default.navbar-fixed-top(role="navigation")
			#header-menu-container
				
	#main.mod.pam(role='main')
	footer#footer.line.pam.txtcenter(role='contentinfo')
	
	script(type='text/javascript', data-main='/js/home.js', src='/js/libs/require/require.min.js')
