html
  head
    meta(charset="utf-8")

    title= title

    meta(name='robots', content='noindex, nofollow, all')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    block stylesheets_libs

        link(rel='stylesheet', href='/css/layout.css')
        link(rel='stylesheet', href='/css/libs/animate-css/animate.min.css')
        link(rel='stylesheet', href='/css/libs/module.admin.stylesheet-complete.layout_fixed.true.min.css')
        link(rel='stylesheet', href='/css/libs/owl.carousel.css')
    block stylesheets
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/theme.css')

  body

    block content



    block javascript

