extends layout

block append content
  nav.navbar.navbar-default.navbar-default(role='navigation')
   p.navbar-text.navbar-right
      header
        .container
          ul.top-nav
            li.explore
              a(href='/') Explore
            li.features
              a(href='/') Features
            li.entreprise
              a(href='/') Entreprise
            li.blog
              a(href='/') Blog

          .btt-login
            a.login-trigger.btn.btn-default.btn-large(href='#')
              i.icon-white.icon-heart
              | Login
          #logo
            h1
              a(href='/')
                | 3Project
  script(type='text/javascript', src='js/login-validator/jquery.min.js')
  script(type='text/javascript', src='js/login-validator/validationform.js')
  script(type='text/javascript', src = 'js/libs/bootstrap.min.js')
  #content
    #banner-login
      .container
        form.form-horizontal.signup(action="" method="")
          h1
            |Sign Up
          fieldset
            .form-group
                label.col-sm-2.control-label(for='inputEmail3')
                input#inputEmail3.form-control(type='email', placeholder='Enter your Email', name="email")
                span.help-block.hide
            .form-group
                label.col-sm-2.control-label(for='inputPassword3')
                input#inputPassword3.form-control(type='password', placeholder='Password', name="password")
                span.help-block.hide
            .form-group
                label.col-sm-2.control-label(for='passConfirm')
                input#passconfirm.form-control(type='password', placeholder='PassConfirm', name="passwordConfirm")
                span.help-block.hide
            .form-group.submit-sign
                button.btn.btn-success(type='submit') Sign Up for 3project
        #videoint.integrate-video
          h1
            | Build project better, together.
          p
            | Powerful collaboration, projects review, projects management for open source and private projects. 
            | Share together Build together !
    section#features
      .features-container
        .row
          .item.col-md-4
            .icon
              i.fa.fa-cloud-upload
            .content
              h3.title
                | App Features One
              p
                | Outline an app feature here. You can change the icon above to any of the 300+ FontAwsome icons.
                a(href='http://fortawesome.github.io/Font-Awesome/icons/', target='_blank') FontAwsome iconsFontAwsome icons available
          .item.col-md-4
            .icon
              i.fa.fa-cloud-upload
            .content
              h3.title
                | App Features One
              p
                | Outline an app feature here. You can change the icon above to any of the 300+ 
                a(href='http://fortawesome.github.io/Font-Awesome/icons/', target='_blank') FontAwsome iconsFontAwsome icons available
                |.
          .item.col-md-4
            .icon
              i.fa.fa-cloud-upload
            .content
              h3.title
                | App Features One
              p
                | Outline an app feature here. You can change the icon above to any of the 300+
                a(href='http://fortawesome.github.io/Font-Awesome/icons/', target='_blank') FontAwsome iconsFontAwsome icons available
    .container
      form.form-horizontal.login-form(action="" method="")
        img.img-circle(src='css/img/people/100/22.jpg')
        .form-group
            input#inputEmail.form-control(type='text', placeholder='Email', name="email")
            span.help-block.hide
        .form-group
            input#inputPassword.form-control(type='password', placeholder='Password', name="password")
            span.help-block.hide
        .form-group.remember
            label.control-label(for='inputRememberMe') Remember me  
            input#inputRememberMe(type='checkbox', name="remember")
        .form-group
            button#submit.btn.btn-primary(type='submit') 
             | Login 
             i.fa.fa-w.fa-unlock-alt

        .form-group
            a.forgot-password(href='/forgot-password') Forgot your password?
    footer
      .copyright
        span
          |&copy 2014 3Project


