<!-- activate.html -->
<!DOCTYPE html>
<html>
<head><title>Contributor</title></head>
<body style="background: #e9eaed; margin: 0px;" bgcolor="#e9eaed">
	<div id="header" style="height: 47px; background: #654f39 -webkit-linear-gradient(top,#796048,#654f39); border-color: #0a1f4f; border-style: solid; border-width: 0px 0px 1px;">
		<div class="container" style="width: 600px; margin: auto;">
			<div class="header-logo" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; width: 300px; height: 47px; color: white; font-size: 30px; font-weight: bold; padding: 3px 0px;">
				3Project
			</div>
		</div>
	</div>
	<div class="container" style="width: 600px; margin: auto;">
		<div class="principal-content" style="font-size: 12px; font-family: 'lucida grande',tahoma,verdana,arial,sans-serif; text-align: center; margin-top: 20px; color: #37404e; box-shadow: 1px 1px 4px #555; background: white; padding: 18px 0; border: 1px solid #d4d4d4;" align="center">
			<p> Congratulation mister {{to}}. <h1 style='font-size: 18px;'> <a href='http://www.3project.com/gest/{{user.username}}' style='text-decoration:none;'>{{sender}}</a> sponsorize <strong style='color:#25ad9f;'> [   {{projectname}}  ]</strong> by giving {{amount}} credits </h1></p>
		</div>
		<div class="footer-content" style="font-size: 12px; font-family: 'lucida grande',tahoma,verdana,arial,sans-serif; text-align: center; margin-top: 20px; color: gray; padding: 18px 0;" align="center">
			<p>This message was sent to <b>{{to}}</b>. If you don't want to receive these emails from 3Project in the future, please unsubscribe. 3Project, Inc.</p>
		</div>
  	</div>

</body>
</html>